/*.fondo{
	background-image:  url("../imagenes/quierovendernaturacom.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
}*/

.arriba {
	position: fixed;
	right: 22px;
	text-align: center;
	line-height: 50px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	background-color: rgba(180, 180, 180, .7);
	border-radius: 25px;
	color: #fff;
	vertical-align: middle;
	z-index: 999;
}
.dm{
	font-family: 'DM Serif Display', serif;
}

.efeito:hover{
	background-color: #F2AD94;
}

.efeito:hover h6{
	color: #fff;
}
.efeito:hover p{
	color: #fff;
}
.spaneador{
	color: #F26A4B;
}




@media only screen and (min-width:900px) and (max-width:2000px){
	.fuera{
		position: absolute;
		right: 0;
		top: 70px;
		background-color: #F26A4B;
		border-radius: 25px;
		transform: translateX(15px);
	}
	.aparece{
		display: none;
	}

}
@media only screen and (min-width:100px) and (max-width:900px){
	.fondo{
		background-image: url(../imagenes/natura-movil.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.fuera{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateY(20px);
		background-color: #F26A4B;
		border-radius: 25px;
	}
	.desaparece{
		display: none;
	}
	.colormovil{
		color: #fff;
	}
	.spaneador{
		color: #F2AD94;
	}
}




$font-family-sans-serif: 'Nunito Sans', sans-serif;

$primary: #F26A4B;
$secondary: #F2AD94;
$success: #fdf4f0;
$dark:#0D0D0D;


@import "../node_modules/bootstrap/scss/bootstrap";